.jh-button+.jh-button {
  margin-left: 16px;
}
.jh-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
  &:hover, &:focus {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
  &:active {
    color: #3a8ee6;
    border-color: #3a8ee6;
    outline: 0;
  }
  &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
    color: #C0C4CC;
    cursor: not-allowed;
    background-image: none;
    background-color: #FFF;
    border-color: #EBEEF5;
  }
  &.primary {
    color: #FFF;
    background-color: #409eff;
    border-color: #409eff;
    &:hover, &:focus {
      background: #66b1ff;
      border-color: #66b1ff;
      color: #FFF;
    }
    &:active {
      background: #3a8ee6;
      border-color: #3a8ee6;
      color: #FFF;
      outline: 0;
    }
    &.is-disabled, &.is-disabled:active, &.is-disabled:focus, &.is-disabled:hover {
      color: #FFF;
      background-color: #a0cfff;
      border-color: #a0cfff;
    }
  }
  &.info {
    color: #FFF;
    background-color: #909399;
    border-color: #909399;
    &:hover, &:focus {
      background: #a6a9ad;
      border-color: #a6a9ad;
      color: #FFF;
    }
    &:active {
      background: #82848a;
      border-color: #82848a;
      color: #FFF;
    }
    &.is-disabled, &.is-disabled:active, &.is-disabled:focus, &.is-disabled:hover {
      color: #FFF;
      background-color: #c8c9cc;
      border-color: #c8c9cc;
    }
  }
}